.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: blue;
  /* Control the thikness of your lines */
  stroke-width: 1px;
  /* Create a dashed line with a pattern */
}

.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: green;
  /* Control the thikness of your lines */
  stroke-width: 1px;
  /* Create a dashed line with a pattern */
}

.ct-series-c .ct-line {
  /* Set the colour of this series line */
  stroke: red;
  /* Control the thikness of your lines */
  stroke-width: 1px;
  /* Create a dashed line with a pattern */
}

.ct-series-d .ct-line {
  /* Set the colour of this series line */
  stroke: #999;
  /* Control the thikness of your lines */
  stroke-width: 1px;
  /* Create a dashed line with a pattern */
}

[data-x-axis]::before {
  content: attr(data-x-axis);
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  font-size: 11px;
  color: #777;
}

[data-y-axis]::after {
  content: attr(data-y-axis);
  position: absolute;
  top: 50%;
  left: -10px;
  font-size: 11px;
  color: #777;
  text-align: center;
  transform: rotate(-90deg)translateY(50%);
}

.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;
  text-align: center;
}
.ct-legend li {
  position: relative;
  padding-left: 23px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
}

.ct-legend li:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  content: '';
  border: 3px solid transparent;
  border-radius: 2px;
}
.ct-legend li.inactive:before {
  background: transparent;
}
.ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}
.ct-legend.ct-legend-inside li{
  display: block;
  margin: 0;
}
.ct-legend .ct-series-0:before {
  background-color: blue;
  border-color: blue;
}
.ct-legend .ct-series-1:before {
  background-color: green;
  border-color: green;
}
.ct-legend .ct-series-2:before {
  background-color: red;
  border-color: red;
}

.ct-legend .ct-series-3:before {
  background-color: #999;
  border-color: #999;
}
